.wisdom-form-container {
  margin: 2rem 0;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--primary-color);
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}

button:disabled {
  background-color: #b39ddb;
  cursor: not-allowed;
}
